@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Tourney:ital,wght@1,100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("bg_bggenerator_com.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: 100vw;
  background-color: black;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  overflow-x: hidden;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}
